# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
HELP.md

### env Files
.env
.env*.local

### next.js
.next/
out/

### Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

### Build
dist/
build/

### Typescript
*.tsbuildinfo
next-env.d.ts

### Testing
/coverage

### Logs
logs/
*.log

### Misc
.DS_Store
*.pem

### IDE
.vscode/
.idea/
*.swp
*.swo

### Vercel
.vercel

### Other
.claude/